/*Modal code source based on that of Kyle Mitofsky https://jsfiddle.net/KyleMit/0fscmf3L/*/
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

/* End of Kyle Mitofsky's code*/

#edges-textbox{
  width:75%;
  height:125px;
}

#attributes-textbox{
  width:75%;
  height:125px;
}

/*************OLD CODE BELOW*****************/
.btn-group-left{
    display: inline;
}

.btn-group-right{
  display: inline;
  float: right;

}

.btn{
  box-shadow: .5px .5px .5px #888888;
  border: solid grey;
  border-width: 1px;
  border-radius: 5px;
}

.button-caption{
  color:#222;
  text-shadow:#fff 0 1px 0;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
}

#panel-heading-name{
  display:inline-block;
  width:67%;
}

#panel-heading-links{
  display:inline-block;

}

#panel-heading-editDelete{
  display:inline-block;
  /*text-align: right;*/


}

#name{
  list-style: none;
  display:inline-block;
  width:67%;
}

#links{
  list-style: none;
  display:inline-block;
  color:green;
}

a:link {

color:#4C9E25;
}
a:visited {
color: #64D331;
}
a:hover {
color: #64D331;
}


#edit-delete{
  list-style: none;
  display:inline-block;
}
