<img id="logo" src="assets/images/horizon_logo.svg" alt="OpenNMS">

<!-- **********  BUSINESS SERVICE EDIT TABLE BEGINS HERE -->
<div class="container-fluid">
    <!-- <div ng-controller="manageBusinessServicesCtrl">  ***  former controller for this page-->
    <!-- ********************************************** -->
    <!--  ********* CAN I USE 2 CONTROLLERS below??  ***-->
    <!-- ********************************************** -->
    <div ng-controller="Principal" ng-controller="sirAccordionCtrl">
        <div class="row">
            <!-- Header buttons go in this row -->

            <!-- *** PREVIOUS HEADER BUTTON CODE BELOW -->
            <div class="col-md-8">
                <button type="button" class="btn btn-default"><i class="fa fa-plus-square" aria-hidden="true"></i> New Business Service</button>
                <button ng-click="collapseAll()"type="button" class="btn btn-default"><i class="fa fa-folder" aria-hidden="true"></i> Collapse All</button>
                <button ng-click="expandAll()"type="button" class="btn btn-default"
                ng-class="{'disabled':accordionConfig.autoCollapse}"><i class="fa fa-folder-open" aria-hidden="true"></i> Expand All</button>
            </div>

            <!-- *** SirAccordion HEADER BUTTON CODE BELOW -->
            <!-- <div class="col-xs-7 col-sm-4 no-padding-left">
                <button ng-click="expandAll()" class="btn btn-primary" ng-class="{'disabled': accordionConfig.autoCollapse}">Expand all</button>
                <button ng-click="collapseAll()" class="btn btn-primary">Collapse all</button>
            </div> -->

            <!-- ************************************** -->
            <div class="col-md-4">
                <button type="button" class="btn btn-default"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Table</button>
                <button type="button" class="btn btn-default"><i class="fa fa-retweet" aria-hidden="true"></i> Reload Daemon</button>
            </div>
        </div>

        <div class="row">
            <!-- Table goes in this row -->

            <!-- SCROLL BAR DOES'T WORK YET -->
                <table class="table table-striped table-bordered">
                    <thead class="header">
                        <!-- TABLE HEADER ROW -->
                        <tr>
                            <!-- TABLE HEADER CELLS -->
                            <th class="col-md-7">NAME</th>
                            <th class="col-md-3">LINKS</th>
                            <th class="col-md-2">EDIT / DELETE</th>
                        </tr>
                    </thead>

                    <tbody>
                        <div class="content-wrap">
                            <div class="row full-height">
                                <td id="scroller" class="col-xs-12 col-sm-6 full-height scrollable">
                                    <div sir-accordion collection="collection" config="accordionConfig" ng-repeat="collect in collection"></div>

                                        <!-- <td>{{collect.title}}</td>
                                        <td>{{collect.subCollection}}</td> -->
                                </td>
                                   <!-- <div class="hidden-xs col-sm-6">
        <blockquote>
          <p>
            Awesome dynamic, recursive, customizable and multilevel <strong>Accordion Menu</strong> for <strong>AngurlarJS</strong>, that builds up from a JSON object and an optional configuration object. <strong>You can download the project for a live demo in the example folder (don't forget to bower install dependencies)</strong> and for better understanding.
          </p>
          <p>
            <strong>No jQuery needed</strong>
          </p>
          <p>
            You could set <strong>before/after</strong> <strong>topContent/bottomContent</strong> in the accordion config object to set a scroll back to top buttom (or whatever you like), given that you only need to set the value once and it will be in all the contents of the accordion.
          </p>
          <p>
            Go to the <a href="https://github.com/SirIdeas/sirAccordion">Project page</a> for a how to use
          </p>
        </blockquote>
      </div> -->
                            </div>
                        </div>
                        <!-- <tr ng-repeat="businessService in businessServices"> -->
                        <!-- <tr ng-repeat="collect in collection"> -->
                        <!-- TABLE ROW -->
                        <!-- <td>{{businessService}}</td> -->
                        <!-- <tr>{{collect}}</tr> -->
                        <!-- <td>{{collect.subCollection}}</td>  -->
                        <!-- <td>{{collect.title}}</td> -->
                        <td><a href=# target="_blank"><span class="View-in-topology" ><i class="fa fa-external-link-square" aria-hidden="true"></i>View in Topology UI</span></a></td>
                        <td><a href="#!/editbusinessservice"><button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button></a>
                            <button type="button" class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Closes container-fluid -->
