<!--    CODE FOR TESTING BELOW - trying, unsuccessfully so far, to position topology link and buttons to the right of each row.  (See managebusinessservices.js)   -->
<table class="table">
    <div class="col-md-8 border_red_temp">empty column 8/12</div>
    <div class="col-md-4 border_red_temp">
        <a href=# ><span><i class="fa fa-external-link-square " aria-hidden="true"></i>View in Topology UI</span></a>
        <a href=# button type="button" class="btn btn-default btn_mbs_accordion"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button></a>
        <a href="#!/editbusinessservice"><button type="button" class="btn btn-default btn_mbs_accordion"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button></a>
    </div>
</table>
<!-- ********************************************************************** -->

<div class="container ">
    <!-- .container has one fixed width for each screen size in bootstrap (xs,sm,md,lg); .container-fluid expands to fill the available width. -->
    <img id="logo" src="assets/images/horizon_logo.svg" alt="OpenNMS">
    <div ng-controller="Principal" ng-controller="sirAccordionCtrl">
        <div class="row">
            <!--   HEADER BUTTONS CODE BELOW   -->
            <div class="col-md-8">
                <button type="button" class="btn btn-default"><i class="fa fa-plus-square" aria-hidden="true"></i> New Business Service</button>
                <button ng-click="collapseAll()" type="button" class="btn btn-default"><i class="fa fa-folder" aria-hidden="true"></i> Collapse All</button>
                <button ng-click="expandAll()" type="button" class="btn btn-default" ng-class="{'disabled':accordionConfig.autoCollapse}"><i class="fa fa-folder-open" aria-hidden="true"></i> Expand All</button>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-default"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Table</button>
                <button type="button" class="btn btn-default"><i class="fa fa-retweet" aria-hidden="true"></i> Reload Daemon</button>
            </div>
        </div>

        <!-- HEADER, if desired -->
        <!-- <table class="table table-striped table-bordered">
                     <thead class="header">
                        <tr>
                            <th class="col-md-7">NAME</th>
                            <th class="col-md-3">LINKS</th>
                            <th class="col-md-2">EDIT / DELETE</th>
                        </tr>
                    </thead> -->

        <tbody>
            <!-- <div class="content-wrap"> -->
            <div class="row full-height">
                <!-- <td id="scroller" class="col-xs-12 col-sm-6 full-height scrollable"> -->
                <td id="scroller" class="col-md-8 full-height scrollable">
                    <div sir-accordion collection="collection" config="accordionConfig" ng-repeat="collect in collection"></div>
                </td>
            </div>
            <!-- <div class="hidden-xs col-sm-6">
                                   </div> -->
            <!-- </div> -->
            <!-- </div> -->

            <!--    CODE FOR TESTING BELOW - trying, unsuccessfully so far, to position topology link and buttons to the right of each row  (See managebusinessservices.js)     -->
            <table class="table">
                <div class="col-md-8 border_red_temp">empty column 8/12</div>
                <div class="col-md-4 border_red_temp padding_bottom">
                    <a href=# ><span><i class="fa fa-external-link-square " aria-hidden="true"></i>View in Topology UI</span></a>
                    <a href=# ><button type="button" class="btn btn-default btn_mbs_accordion"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button></a>
                    <a href="#!/editbusinessservice"><button type="button" class="btn btn-default btn_mbs_accordion"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button></a>
                </div>
            </table>
        </tbody>
    </div>
</div>
<!-- Closes container-->
